<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">
    <img src="assets/img/dbLogo3.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    {{title}}</a>
</nav>

<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="display-4">Bienvenue à la lotterie 2020 de la LHSDB</h1>
    <p class="lead">Classement Actuel:</p>
    <div class="row"> 
      <div class="col">
        <ul class="list-group list-group">
          <li class="list-group-item list-group-item-dark" *ngFor="let team of actualStandings1">
            {{ team }}
          </li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-group list-group-flush">
          <li class="list-group-item list-group-item-dark" *ngFor="let team of actualStandings2">
           {{ team }}
          </li>
        </ul>
      </div>    
    </div>

    <div class="my-4">
    <p class="lead">Cliquez sur le bouton pour piger les équipes gagnantes.</p>
    <button class="btn btn-primary btn-lg" type="button" (click)="onDraft()">PIGER</button>

    <hr class="my-4">
      <div class="alert alert-dark" *ngFor="let team of results; index as i">
        {{i+1}} {{"- " + team }}
      </div>
  </div>
</div>